<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <div th:fragment="header">
        <header>
            <nav>
                <div class="logo">
                    <a href="/">MMC</a>
                </div>
                <ul class="main-menu">
                <li><a href="/posts">게시판</a></li><li><a href="/posts/new">게시글 작성하기</a></li>
<!--                <li><a href="/notice">공지사항</a></li>-->
<!--                <li><a href="/qna">Q&A</a></li>-->
                </ul>
                <div class="user-menu">
                    <div th:if="${loginUser}">
                        <span th:text="${loginUser?.userNickname ?: 'Guest'}"></span>
                        <ul class="dropdown">
                            <li><a th:href="@{/users/{userId}(userId=${loginUser.userId})}">마이페이지</a></li>
<!--                            <li><a href="/my-posts">내 글 보기</a></li>-->
                            <li>
                                <form method="post" th:action="@{/auth/logout}">
                                    <button type="submit">로그아웃</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div th:unless="${loginUser}">
                        <a href="/auth/login">로그인</a>
                        <a href="/users/signup">회원가입</a>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</body>
</html>