<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
<section layout:fragment="content">

    <!-- 성공 메시지 (회원가입 성공 시) -->
    <div id="signupSuccessAlert" th:if="${signupSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${signupSuccess}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- 에러 메시지 -->
    <div id="errorAlert" th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="card p-4 mx-auto mt-5" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">Login</h2>

        <form id="loginForm" th:action="@{/auth/login}" th:object="${requestDto}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" th:field="*{email}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" th:field="*{password}" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <div class="mt-3 text-center">
            <button onclick="window.location.href='/auth/google-login'" class="btn btn-outline-secondary w-100">Google 로그인</button>
        </div>

    </div>
    <script>
        window.onload = function() {
            // 성공 메시지 알림이 있는 경우
            if (document.getElementById('signupSuccessAlert')) {
                setTimeout(function() {
                    var signupSuccessAlert = new bootstrap.Alert(document.getElementById('signupSuccessAlert'));
                    signupSuccessAlert.close();
                }, 2000);
            }

            if (document.getElementById('errorAlert')) {
                setTimeout(function() {
                    var errorAlert = new bootstrap.Alert(document.getElementById('errorAlert'));
                    errorAlert.close();
                }, 2000);
            }
        }
    </script>
</section>
</body>
</html>