<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>
<body>
<h1>사용자 프로필</h1>

<div layout:fragment="content">
    <!-- 사용자 이름 -->
    <h2 th:text="${user.userName}"></h2>
    <!-- 사용자 이메일 -->
    <p>이메일: <span th:text="${user.userEmail}"></span></p>
    <!-- 사용자 닉네임 -->
    <p>닉네임: <span th:text="${user.userNickname}"></span></p>

    <p>가입일: <span th:text="${user.userCreatedAt}"></span></p>

    <!-- 프로필 수정 버튼: 프로필 소유자인 경우에만 보임 -->
    <div th:if="${isProfileOwner}">
        <a th:href="@{/users/{userId}/edit(userId=${loginUser.userId})}">수정하기</a>
    </div>
</div>
</body>
</html>
