:root {
    --bs-primary: #4f602e;  /* 어두운 올리브 */
    --bs-navbar-bg: #7f8f5f;    /* 어두운 올리브 */
    --bs-body-bg: #F5F8F2;  /* 아주 연한 녹색-회색 */

    --bs-link-color: #536a42;

    --color-orange: #ee8a10; /* 주황색 */
    --color-yellow: #eeab10; /* 노란색 */
    --color-green-light: #768b50; /* 밝은 초록색 */
    --color-green: #4b623c; /* 초록색 */
    --color-green-dark: #1f361b; /* 어두운 초록색 */
    --color-grey: #878787; /* 회색 */
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-secondary);
    overflow-y: scroll; /* 항상 스크롤바를 표시하되, 필요 없을 때는 비활성화 */
    scrollbar-width: thin;
}

/* navbar */
.navbar {
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bs-navbar-bg);
    min-height: 40px;
    color: white;
}

/* navbar 로고 */
.navbar .navbar-brand {
    color: var(--color-green-dark);
}

/* navbar 링크 */
.navbar .nav-link {
    color: white;
    font-size: 1.1rem;
}
.navbar .nav-link:hover,
.navbar .nav-link:active{
    color: var(--color-green-dark);
    font-size: 1.1rem;
    font-weight: bold;
}

/* navbar 로그인 버튼 */
.navbar .btn-login {
    background-color: transparent;
    border-color: white;
    color: white;
}
.navbar .btn-login:hover,
.navbar .btn-login:active {
    background-color: var(--color-orange);
    border-color: var(--color-orange);
    color: white;
}

/* navbar 회원가입 버튼 */
.navbar .btn-signup {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: white;
}
.navbar .btn-signup:hover,
.navbar .btn-signup:active{
    background-color: var(--color-green-dark);
    border-color: var(--color-green-dark);
    color: white;
}

/* navbar 마이페이지, 로그아웃 버튼 */
.navbar .btn-profile,
.navbar .btn-logout {
    background-color: transparent;
    border-color: white;
    color: white;
}
.navbar .btn-profile:hover,
.navbar .btn-profile:active,
.navbar .btn-logout:hover,
.navbar .btn-logout:active{
    background-color: var(--color-orange);
    border-color: var(--color-orange);
    color: white;
}

.btn-primary,
.btn-primary:focus{
    background-color: var(--color-orange);
    border-color: var(--color-orange);
    color: white;
}

.btn-primary:hover,
.btn-primary:active{
    background-color: var(--color-yellow) !important;
    border-color: var(--color-yellow) !important;
    color: white !important;
}

.btn-secondary {
    background-color: transparent;
    border-color: var(--color-grey);
    color: var(--color-grey);
}
.btn-secondary:hover,
.btn-secondary:active {
    background-color: var(--color-grey);
    border-color: var(--color-grey);
    color: white;
}

h1, h2, h3 {
    color: var(--bs-primary);
    font-weight: bold;
}

a {
    color: var(--color-green-dark);
    text-decoration: none;
}

a:hover {
    color: var(--color-green-light);
}

.content-section .card {
    background-color: white;
    border: 1px solid rgba(107, 114, 128, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.content-section .card:hover {
    color: var(--color-green-dark);
    transform: translateY(-3px); /* 약간 위로 이동 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

/* 알림창을 화면 상단에 고정 */
.alert {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%); /* 화면 중앙 정렬 */
    width: 80%; /* 가로 길이를 넓힘 */
    max-width: 600px; /* 최대 가로 크기 설정 */
    z-index: 1050; /* 다른 콘텐츠 위에 표시되도록 설정 */
}

.page-item.disabled .page-link {
    background-color: transparent;
    border-color: var(--color-green-light);
    color: var(--color-grey);
}

.page-item.active .page-link {
    background-color: var(--color-green);
    border-color: var(--color-green-light);
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.page-link {
    background-color: transparent;
    border-color: var(--color-green-light);
    color: var(--color-green-light);
}

.page-link:hover {
    background-color: transparent;
    border-color: var(--color-green-light);
    color: var(--color-green);
}