<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.markmycode.mmc.comment.repository.CommentMapper">

    <resultMap id="commentResultMap" type="com.markmycode.mmc.comment.dto.CommentResponseDto">
        <id property="commentId" column="comment_id"/>
        <result property="postId" column="post_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="commentContent" column="comment_content"/>
        <result property="commentStatus" column="comment_status"/>
        <result property="commentCreatedAt" column="comment_created_at"/>
        <result property="commentUpdatedAt" column="comment_updated_at"/>
        <result property="userNickname" column="user_nickname"/>
        <result property="userStatus" column="user_status"/>
        <collection property="childComments" ofType="com.markmycode.mmc.comment.dto.CommentResponseDto"
                    select="selectChildCommentsByParentId" column="comment_id"/>
    </resultMap>

    <select id="selectCommentsByPostId" parameterType="Long" resultMap="commentResultMap">
        SELECT
        c.comment_id,
        c.post_id,
        c.parent_id,
        c.comment_content,
        c.comment_status,
        c.comment_created_at,
        c.comment_updated_at,
        u.user_id,
        u.user_nickname,
        u.user_status
        FROM post_comment c
        JOIN user u ON c.user_id = u.user_id
        WHERE c.post_id = #{postId}
        AND c.parent_id IS NULL
        ORDER BY c.comment_created_at
    </select>

    <select id="selectChildCommentsByParentId" parameterType="Long" resultMap="commentResultMap">
        SELECT
        c.comment_id,
        c.post_id,
        c.parent_id,
        c.comment_content,
        c.comment_status,
        c.comment_created_at,
        c.comment_updated_at,
        u.user_id,
        u.user_nickname,
        u.user_status
        FROM post_comment c
        JOIN user u ON c.user_id = u.user_id
        WHERE c.parent_id = #{parentId}
        ORDER BY c.comment_created_at
    </select>

</mapper>
